<!DOCTYPE html>
<html lang="fr" dir="ltr" ng-app>
  <head>
    <meta charset="utf-8" />
    <title>exo5</title>
  </head>
  <body>
<button ng-click="showMe=false" type="button" name="Afficher">Afficher</button>
<button ng-click="showMe=true" type="button" name="Cacher">Cacher</button>
<p ng-hide="showMe">Eddy Malou (E double D Y trait d'union M A L O U) dont la signification est "imposer la force vers le valium, c'est à dire l'estime du savoir (les gens qui connaissent beaucoup de choses), est le premier savant de toute la République Démocratique du Congo.
Il est aussi le cousin de Jacques LAMY. D'apres certaines sources Eddy Malou serait doté d'un QI de plus de 180 ce qui voudrait dire qu'Eddy Malou serait plus intelligent que son collègue et admirateur Albert Einstein. Le "lgqcbdc" est un hashtag lancé simultanément sur Facebook et Twitter le mardi 28 Janvier à 11h, par la délégation aubergiste pendant les hauts séminaires de GE90 durant l'inter-semestre 2014 afin de valoriser le savoir des intervenants durant les conférences. "lgqcbdc" désigne Les Gens Qui Connaissent Beaucoup De Choses.</p>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
  </body>
</html>
